* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #eaeaea;
  margin: 15px;
}

.hero-section {
  margin: 14% 0;

}

.title,
.heading {
  text-align: center;
  font-size: 24px;
  color: rgb(64, 64, 64);
  margin-bottom: 20px;
}